
.open-sans-WorkSans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-gray{
    color:#424242;
}

.text-light-gray{
    color:#727272;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}

.displa-flex{
    display: flex;
}
.navbar{
          justify-content: space-between;
          align-items: center;
}
.nav-item{
    list-style:none;
    margin-right: 30px;
   
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
}
.navbar,.banner{
    max-width:1440px;
    margin:0 auto;
}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:50px;
}
.banner-title{
    font-weight: 700px;
    font-size:4rem;
}
.primary-btn{
    background-color: #FF900E;
    color:white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
.banner-image{
    width:100%;
}

/* respobsive media quary */
@media screen and(max-width: 576px) {

    .navbar, .nav-link{

        flex-direction: column;
       

    }
}